@font-face {
  font-family: "DM Sans";
  src: url(/assets/fonts/DMSans-Regular.ttf);
}
@font-face {
  font-family: DM-Sans-Medium;
  src: url(/assets/fonts/DMSans-Medium.ttf);
}
@font-face {
  font-family: DM-Sans-Bold;
  src: url(/assets/fonts/DMSans-Bold.ttf);
}

* {
  font-family: "DM Sans";
}

/* Navbar start */

nav.navbar {
  background: #fbfafb;
  box-shadow: 0px 4px 16px rgba(166, 159, 249, 0.25);
}

nav.navbar .nav-link {
  font-family: DM-Sans-Medium;
  font-size: 18px;
  line-height: 24px;
  color: #170f49;
}

nav.navbar .dropdown-toggle::after {
  width: 9px;
  height: 9px;
  border-top: 2.5px solid #170f49;
  border-bottom: 0;
  border-right: 0;
  border-left: 2.5px solid #170f49;
  transform: rotate(225deg);
}

nav.navbar .cart-btn {
  width: 39.98px;
  height: 40px;
  border: 1px solid #4a3aff;
  border-radius: 6px;
}

nav.navbar .sign-up-btn {
  font-family: DM-Sans-Medium;
  width: 114px;
  height: 44px;
  background: #4a3aff;
  border-radius: 12px;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

/* Navbar end */

/* Hero section start */

.heroWrapper {
  padding: 180px 0;
}

.heroWrapper .what-we-do {
  font-family: DM-Sans-Bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #4a3aff;
}

.heroWrapper h1 {
  font-family: DM-Sans-Bold;
  font-size: 64px;
  line-height: 72px;
  color: #170f49;
}
.heroWrapper h1 span {
  font-family: DM-Sans-Bold;
  color: #4a3aff;
}

.heroWrapper .texts {
  font-size: 24px;
  line-height: 32px;
  color: #6f6c90;
}

.heroWrapper .get-started {
  width: 153px;
  height: 56px;
  font-family: DM-Sans-Medium;
  background: #4a3aff;
  border-radius: 12px;
  color: #ffffff;
}

.heroWrapper .suspend-content {
  position: absolute;
  bottom: 0;
  padding: 26px 18px;
}

.heroWrapper .suspend-content h4 {
  font-family: DM-Sans-Medium;
  font-size: 23.1027px;
  line-height: 37px;
  color: #ffffff;
}

.heroWrapper .suspend-content .placed-content {
  position: absolute;
  bottom: 20px;
  width: 250px;
  text-align: left;
}

.heroWrapper .suspend-content .btn:hover .placed-content {
  display: none;
}

.heroWrapper .suspend-content .sub-suspended-content {
  display: none;
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 250px;
  text-align: left;
}

.heroWrapper .suspend-content .btn:hover .sub-suspended-content {
  display: block;
}

/* Hero section end */

/* Client section start */

.clients-section p {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #6f6c90;
  margin-bottom: 32px;
}

/* Client section end */

/* Our Bundles start */

.our-bundles-section {
  padding-top: 130px;
  padding-bottom: 100px;
}

.our-bundles-section h1 {
  font-family: DM-Sans-Bold;
  font-size: 48px;
  line-height: 72px;
  color: #000000;
}

.our-bundles-section p {
  font-size: 24px;
  line-height: 32px;
  color: #6f6c90;
}
.our-bundles-section .nav.nav-pills {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border: 1px solid #4a3aff;
  border-radius: 8px;
}

.our-bundles-section .tab-content {
  margin-bottom: 80px;
}

.our-bundles-section .nav.nav-pills .nav-link {
  width: 126px;
  height: 49px;
  font-family: DM-Sans-Medium;
  color: #4a3aff;
}

.our-bundles-section .nav.nav-pills .nav-link.active {
  background: #4a3aff;
  color: #ffffff;
  border-radius: 8px;
}

/* Our Bundles end */

/* Price section start */

.price-section {
  background: rgba(241, 239, 255, 0.6);
  border-radius: 26px;
  padding: 54px 40px;
}

.price-section .price-card h2 {
  font-family: DM-Sans-Bold;
  font-size: 32px;
  line-height: 48px;
  color: #170f49;
}

.price-section .price-card h2 span {
  font-size: 16px;
  line-height: 24px;
  color: #6f6c90;
}

.price-section .price-card h4 {
  font-family: DM-Sans-Medium;
  font-size: 24px;
  line-height: 32px;
  color: #170f49;
}

.price-section .price-card p {
  color: #6f6c90;
}

.price-section .price-card .add-cart-btn {
  width: 100%;
  height: 56px;
  border: 1px solid #4a3aff;
  border-radius: 12px;
  color: #4a3aff;
  margin: 16px 0 24px;
}

.price-section .price-card ul {
  list-style: none;
}

.price-section .price-card li {
  color: #6f6c90;
  margin-bottom: 16px;
  position: relative;
}

.price-section .price-card li::before {
  content: url("https://res.cloudinary.com/dcjqodsyg/image/upload/v1677857415/Vector_cgogp7.svg");
  position: absolute;
  left: -31px;
  top: 3px;
}

.price-section .price-card:hover {
  background: #4a3aff;
  box-shadow: 0px 20px 38px rgba(82, 67, 194, 0.2);
  border-radius: 26px;
  padding: 24px;
  position: relative;
  top: -90px;
}

.price-section .price-card:hover :is(h2, h4, h2 span, p, li) {
  color: #ffffff;
}

.price-section .price-card:hover .add-cart-btn {
  background: #ffffff;
  color: #4a3aff;
}

.price-section .price-card:hover li::before {
  content: url("https://res.cloudinary.com/dcjqodsyg/image/upload/v1677857415/Vector_1_kzsjku.svg");
}

/* Price section end */

/* Testimonial start */

.testimonial-section {
  padding: 120px 0;
}

.testimonial-section h1 {
  font-family: DM-Sans-Bold;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #000000;
  margin-bottom: 24px;
}

.testimonial-section .campaign {
  max-width: 791px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #6f6c90;
  margin-bottom: 88px;
}

.testimonial-section .testimonial-card {
  background: rgba(241, 239, 255, 0.6);
  border-radius: 50px;
}

.testimonial-section .testimonial-card .mini-card {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px 20px;
  border-radius: 15px;
}

.testimonial-section .testimonial-card .mini-card.first-card {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
}

.testimonial-section .testimonial-card .mini-card .name {
  font-family: DM-Sans-Medium;
  color: #170f49;
}
.testimonial-section .testimonial-card .mini-card .role {
  font-size: 14px;
  line-height: 18px;
  color: #6f6c90;
}

.testimonial-section .testimonial-card .quote-texts {
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: #6f6c90;
}

.testimonial-section .suspended-swipe-btns {
  position: absolute;
  bottom: 62px;
  left: 42%;
}

.testimonial-section .suspended-swipe-btns .btn {
  font-size: 40px;
  border: none;
}

/* Testimonial end */

/* FAQ section start */

.faq-section h1 {
  font-family: DM-Sans-Bold;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #000000;
  margin-bottom: 24px;
}

.faq-section .campaign {
  max-width: 791px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 88px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #6f6c90;
}

.faq-section .faq-accordion {
  background: rgba(241, 239, 255, 0.6);
  border-radius: 50px;
  padding: 76px 49px;
}

.faq-section .faq-accordion .accordion-button {
  background: none;
  font-family: DM-Sans-Bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  box-shadow: none;
}

.faq-section .faq-accordion .accordion-item {
  background: none;
  border: none;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 0;
}

.faq-section .faq-accordion .accordion-body {
  font-size: 16px;
  line-height: 26px;
  color: #6f6c90;
}

.faq-section .faq-accordion .accordion-button:not(.collapsed) {
  color: #4a3aff;
}

.faq-section .faq-accordion .accordion-button::after {
  content: "+";
  font-size: 25px;
  width: unset;
  height: unset;
  background-image: none;
}

.faq-section .faq-accordion .accordion-button:not(.collapsed)::after {
  content: "-";
  font-size: 25px;
  background-image: none;
}

/* FAQ section end */

/* start Have Question section */

.have-question {
  background: #f1efff;
  border-radius: 12px;
  padding: 28px 32px;
  gap: 25px;
  margin: 78px 0;
}

.have-question .title {
  font-family: DM-Sans-Medium;
  font-size: 14px;
  line-height: 20px;
  color: #4a3aff;
}

.have-question .chat-our {
  font-size: 14px;
  line-height: 20px;
  color: #6f6c90;
  margin-bottom: 0;
}

.have-question .btn {
  width: 158px;
  height: 56px;
  color: #ffffff;
  background: #4a3aff;
  border-radius: 12px;
}

/* end Have Question section */

/* Footer start */

.footer {
  background: #170f49;
  padding: 64px 0px;
}

.footer p {
  color: #ffffff;
}

.footer .address {
  line-height: 24px;
  font-feature-settings: "salt" on, "liga" off;
  color: #d9dbe1;
  margin: 24px 0 30px;
}

.footer .title {
  font-family: DM-Sans-Medium;
}

.footer .nav-link {
  color: #d9dbe1;
  padding: 8px 0;
}

.footer input {
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: "salt" on, "liga" off;
  color: #d9dbe1;
  border: none;
}

.footer input.form-control::placeholder {
  color: #d9dbe1;
}

.footer hr {
  color: #ffffff;
  opacity: 0.1;
  margin: 64px 0 32px;
}

/* Footer end */

/* Tablet and Mobile view */

@media screen and (max-width: 768px) {
  .heroWrapper {
    padding: 120px 0;
  }
  .price-section {
    padding: 20px;
  }
  .price-section .price-card:hover {
    position: static;
    padding: 16px;
  }
  .testimonial-section .testimonial-card {
    border-radius: 20px;
  }
  .testimonial-section .suspended-swipe-btns {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .faq-section .faq-accordion {
    padding: 25px 16px;
  }
  .have-question .btn {
    width: 100%;
  }
}
/* ### Tablet and Mobile view ### */

@media (min-width: 992px) {
  .container-fluid {
    padding-left: 80px;
    padding-right: 80px;
  }
}
