@font-face {
  font-family: "DM Sans";
  src: url(/assets/fonts/DMSans-Regular.ttf);
}
@font-face {
  font-family: DM-Sans-Medium;
  src: url(/assets/fonts/DMSans-Medium.ttf);
}
@font-face {
  font-family: DM-Sans-Bold;
  src: url(/assets/fonts/DMSans-Bold.ttf);
}

* {
  font-family: "DM Sans";
}

nav.navbar {
  background: #fbfafb;
  box-shadow: 0px 4px 16px rgba(166, 159, 249, 0.25);
}

nav.navbar .nav-link {
  font-family: DM-Sans-Medium;
  font-size: 18px;
  line-height: 24px;
  color: #170f49;
}

nav.navbar .dropdown-toggle::after {
  width: 9px;
  height: 9px;
  border-top: 2.5px solid #170f49;
  border-bottom: 0;
  border-right: 0;
  border-left: 2.5px solid #170f49;
  transform: rotate(225deg);
}

nav.navbar .cart-btn {
  width: 39.98px;
  height: 40px;
  border: 1px solid #4a3aff;
  border-radius: 6px;
}

nav.navbar .sign-up-btn {
  font-family: DM-Sans-Medium;
  width: 114px;
  height: 44px;
  background: #4a3aff;
  border-radius: 12px;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.heroWrapper {
  padding: 180px 0;
}

.heroWrapper .what-we-do {
  font-family: DM-Sans-Bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #4a3aff;
}

.heroWrapper h1 {
  font-family: DM-Sans-Bold;
  font-size: 64px;
  line-height: 72px;
  color: #170f49;
}
.heroWrapper h1 span {
  font-family: DM-Sans-Bold;
  color: #4a3aff;
}

.heroWrapper .texts {
  font-size: 24px;
  line-height: 32px;
  color: #6f6c90;
}

.heroWrapper .get-started {
  width: 153px;
  height: 56px;
  font-family: DM-Sans-Medium;
  background: #4a3aff;
  border-radius: 12px;
  color: #ffffff;
}

.heroWrapper .suspend-content {
  position: absolute;
  bottom: 0;
  padding: 26px 18px;
}
.heroWrapper .suspend-content h4 {
  font-family: DM-Sans-Medium;
  font-size: 23.1027px;
  line-height: 37px;
  color: #ffffff;
}

.clients-section p {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #6f6c90;
  margin-bottom: 32px;
}

.our-bundles-section {
  padding-top: 130px;
  padding-bottom: 100px;
}

.our-bundles-section h1 {
  font-family: DM-Sans-Bold;
  font-size: 48px;
  line-height: 72px;
  color: #000000;
}

.our-bundles-section p {
  font-size: 24px;
  line-height: 32px;
  color: #6f6c90;
}
.our-bundles-section .nav.nav-pills {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border: 1px solid #4a3aff;
  border-radius: 8px;
}

.our-bundles-section .tab-content {
  margin-bottom: 80px;
}

.our-bundles-section .nav.nav-pills .nav-link {
  width: 126px;
  height: 49px;
  font-family: DM-Sans-Medium;
  color: #4a3aff;
}

.our-bundles-section .nav.nav-pills .nav-link.active {
  background: #4a3aff;
  color: #ffffff;
  border-radius: 8px;
}

.price-section {
  background: rgba(241, 239, 255, 0.6);
  border-radius: 26px;
  padding: 54px;
}

.price-section .price-card h2 {
  font-family: DM-Sans-Bold;
  font-size: 32px;
  line-height: 48px;
  color: #170f49;
}

.price-section .price-card h2 span {
  font-size: 16px;
  line-height: 24px;
  color: #6f6c90;
}

.price-section .price-card h4 {
  font-family: DM-Sans-Medium;
  font-size: 24px;
  line-height: 32px;
  color: #170f49;
}

.price-section .price-card p {
  color: #6f6c90;
}

.price-section .price-card .add-cart {
  width: 100%;
  height: 56px;
  border: 1px solid #4a3aff;
  border-radius: 12px;
  color: #4a3aff;
  margin: 16px 0 24px;
}

/* Tablet and Mobile view */

@media screen and (max-width: 768px) {
  .heroWrapper {
    padding: 120px 0;
  }
  .price-section {
    padding: 20px;
  }
}
/* ### Tablet and Mobile view ### */
